body{
	 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wall1.jpeg);
	 background-size: cover;
	 background-position: center;
	 width: 97%;
	 height: 610px;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-top: 25px;
}
#menu{
	list-style-type:none;
	position: relative;
	top:20px;
	padding:0;
	overflow:hidden;	
}
#items{
	float:right;	
}
body a:link, a:visited{
	display: block;
	width:120px;
	font-weight:bold;
	color:gold;
	background-color:none;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
body a:hover, a:active{
	color:white;
}
.title h1{
	position: relative;
	padding-top: 40px;
	padding-left: 500px;
	color: white;
}
.sub h2{
	position: relative;
	padding-top: 10px;
	padding-left: 619px;
	color: white;
}
.gallery1  div{
	height: 310px;
	width: 100%;
}
.gallery1  img{
	float: left;
	position: relative;
	margin-left: -153px;
	top: 40px;
	width:433.1px;
	height: 300px;
}
.info1 h2{
	position: relative;
	padding-top: 110px;
	font-size: 70px;
	padding-left: 465px;
	color: white;
}
.gallery2  div{
	height: 310px;
	width: 100%;
}
.gallery2  img{
	float: right;
	margin-right: -22px;
	position: relative;
	top: 70px;
	width:433.1px;
	height: 300px;
}
.info2 h2{
	position: relative;
	padding-top: 200px;
	font-size: 70px;
	padding-left: 90px;
	color: white;
}
.gallery3  div{
	height: 310px;
	width: 100%;
}
.gallery3  img{
	position: relative;
	margin-left: -2px;
	top: 58px;
	width:433.1px;
	height: 300px;
}
.info3 h2{
	position: relative;
	margin-top: -110px;
	font-size: 70px;
	padding-left: 560px;
	color: white;
}
.gallery4  div{
	height: 310px;
	width: 100%;
}
.gallery4  img{
	float: right;
	margin-right: -22px;
	position: relative;
	top: 50px;
	width:433.1px;
	height: 300px;
}
.info4 h2{
	position: relative;
	padding-top: 200px;
	font-size: 70px;
	padding-left: 90px;
	color: white;
}
